<%# app/views/listings/show.html.erb %>

<div class="flex flex-col max-w-3xl w-full mx-auto">
  
  <div class="flex justify-between items-center">
    <%= link_to "Back to All Listings", listings_path, class: "bg-gray-100 rounded-lg border-2 border-gray-900 mr-auto p-2" %>
    <%= link_to "Edit listing", edit_listing_path(@listing) %>
  </div>
  <br/>

  <% if @listing.images.any? %>
    <div class="flex flex-col md:flex-row gap-4 md:gap-8 rounded-lg overflow-hidden relative">
      
      <%# Display the first image %>
      <%= image_tag @listing.images.first.blob, class: "w-full md:w-80 h-64 md:h-80 object-cover rounded-lg" %>
    
      <div class="grid grid-cols-1 md:grid-cols-2 gap-4 md:gap-8">
        <% @listing.images[1..4].each do |image| %> 
          <%# Display images 2 through 5 %>
          <%= image_tag image.blob, class: "w-full h-48 md:h-36 object-cover rounded-lg" %>
        <% end %>
      </div>
      <%= link_to "Show all photos", photos_listing_path(@listing), class: "absolute bottom-0 right-0 bg-white rounded-lg p-2" %>
    </div>
  <% end %>

  <br/>
  
  <h1 class="text-2xl font-semibold"> <%= @listing.title %> </h1>
  <%= @listing.description %>

  <div class="grid grid-cols-3 gap-8 mt-8">
    <div class="shadow-lg bg-gray-100 p-4 rounded-lg">
      <div class="text-sm text-gray-600">Bedrooms</div>
      <div class="text-2xl font-semibold"><%= @listing.bedrooms || "—" %></div>
    </div>
    <div class="shadow-lg bg-gray-100 p-4 rounded-lg">
      <div class="text-sm text-gray-600">Bathrooms</div>
      <div class="text-2xl font-semibold"><%= @listing.bathrooms || "—" %></div>
    </div>
    <div class="shadow-lg bg-gray-100 p-4 rounded-lg">
      <div class="text-sm text-gray-600">Guests</div>
      <div class="text-2xl font-semibold"><%= @listing.people_limit || "—" %></div>
    </div>
    <div class="shadow-lg bg-gray-100 p-4 rounded-lg">
      <div class="text-sm text-gray-600">Price</div>
      <div class="text-2xl font-semibold"><%= @listing.price || "—" %></div>
    </div>
  </div>
</div>

<%= form_with url: listing_checkouts_path(@listing.id), method: :post, data: { turbo: false } do %>
  
  <button type="submit" 
          class="w-full py-3 rounded-lg font-semibold text-white 
                 bg-gradient-to-r from-indigo-500 to-pink-500 shadow-lg 
                 hover:opacity-90 transition">
    Book and Pay Now
  </button>
<% end %>